<div class="container">
    <h2 class="text-center">{{image.image.title}}</h2>
    <div class="row">
        <uib-tabset active="Image" type="pills">
            <uib-tab index="0" heading="Image">
                <a href="{{image.links.imageContent}}" ng-if="!image.links.revisions || image.links.revisions.length == 0">
                    <img ng-src="{{image.links.imageContent}}" alt="{{image.image.title}}" class="img-responsive center-block">
                </a>
                <a href="{{image.links.revisions[image.links.revisions.length-1].image}}" ng-if="image.links.revisions.length != 0">
                    <img ng-src="{{image.links.revisions[image.links.revisions.length-1].image}}" alt="{{image.image.title}}" class="img-responsive center-block">
                </a>
            </uib-tab>
            <uib-tab index="1" heading="Annotated" disable="!image.links.annotationContent">
                <a href="{{image.links.annotationContent}}">
                    <img ng-src="{{image.links.annotationContent}}" alt="{{image.image.title}}" class="img-responsive center-block">
                </a>
            </uib-tab>
            <uib-tab index="2" heading="Inverted"  disable="!image.links.invertedContent">
                <a href="{{image.links.invertedContent}}">
                    <img ng-src="{{image.links.invertedContent}}" alt="{{image.image.title}}" class="img-responsive center-block">
                </a>
            </uib-tab>
            <uib-tab index="3" heading="Revisions"  disable="image.links.revisions.length == 0">
                <div class="container">
                    <div class="col-md-3">
                        <h4>Original</h4>
                        <a href="{{image.links.imageContent}}">
                            <img ng-src="{{image.links.thumbnailContent}}" alt="{{image.image.title}}" class="img-thumbnail">
                        </a>
                    </div>
                    <div ng-repeat="revision in image.links.revisions">
                        <div class="col-md-3">
                            <h4>Rev. {{revision.date}}</h4>
                            <a href="{{revision.image}}">
                                <img ng-src="{{revision.thumb}}" alt="{{image.image.title}}" class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
    <h5 class="text-center text-muted">Tags: <a class="text-muted" ng-repeat="tag in image.image.tags" href="images/{{tag}}"><span class="tab-space">{{tag}}</span></a></h5>
    <dl class="dl-horizontal" ng-if="image.image.date"><dt>Acquisition date(s):</dt><dd> {{image.image.date}}</dd></dl>
    <legend ng-if="image.links.revisions.length != 0">Original description</legend>
    <div class="well pre-alike" ng-bind-html="image.image.description | linky"></div>
    <div ng-repeat="revision in image.links.revisions">
        <legend>Rev. {{revision.date}} description</legend>
        <div class="well pre-alike" ng-bind-html="revision.description | linky"></div>
    </div>
</div>