<div class="container">
    <h2 class="text-center">{{image.Image.Title}}</h2>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a href="{{image.links.ImageContent}}">
                <img ng-src="{{image.links.ImageContent}}" alt="{{image.Image.Title}}" class="img-responsive center-block">
            </a>
        </div>
    </div>
    <h5 class="text-center text-muted">Tags: <a class="text-muted" ng-repeat="tag in image.Image.Tags" href="images/{{tag}}"><span class="tab-space">{{tag}}</span></a></h5>
    <dl class="dl-horizontal" ng-if="image.Image.Date"><dt>Acquisition date(s):</dt><dd> {{image.Image.Date}}</dd></dl>
    <pre>{{image.Image.Description}}</pre>
</div>