<div ng-controller="adminController as admin" class="container">
    <h2>Administration</h2>

    <div ng-show="responseData">
        <div>
            <a href="images/image/{{responseData.image.id}}/edit">
                <img ng-src="{{responseData.links.thumbnailContent}}"/>
            </a>
        </div>
        <div>
            <a class="btn btn-default btn-sm" href="#" ngclipboard data-clipboard-text="{{responseData.forumPost}}">
                <i class="fa fa-clipboard"></i>
                Copy Albireo Forum code
            </a>
        </div>
    </div>


    <form method="post" enctype="multipart/form-data" ng-submit="uploadImage()" class="form-horizontal">
        <fieldset>
            <legend>Image upload</legend>
            <div class="form-group">
                <label for="file" class="col-lg-2">File</label>
                <div class="col-lg-10">
                    <input class="form-control" type="file" name="file" ngf-select ng-model="model.file" enctype="multipart/form-data" id="file"/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-lg-2">Title</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" name="title" id="title" ng-model="model.title" placeholder="Title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" name="description" id="description" ng-model="model.description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-lg-2">Tags</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" name="tags" id="tags" ng-model="model.tags" placeholder="Tags"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-lg-2">Date</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="date" id="date" ng-model="model.date" placeholder="yyyy-MM-dd"/>
                </div>
            </div>
            <div class="form-group">
                <label for="annotation" class="col-lg-2">Annotation Id</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="annotation" id="annotation" ng-model="model.annotation"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" type="password" name="password" id="password" ng-model="model.password" placeholder="Password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </fieldset>
    </form>
</div>