<div ng-controller="adminController as admin" class="container">
    <header>
        <h2>UPLOAD Images</h2>
    </header>

        <div ng-show="responseData"><img ng-src="responseData.Image.links.ThumbnailContent"/><div>{{responseData.ForumPost}}</div></div>
    <form method="post" enctype="multipart/form-data" ng-submit="uploadImage()">
        <div class="12u$"><input type="file" name="file" ngf-select ng-model="model.file" enctype="multipart/form-data" id="file"/></div>
        <div class="12u$"><input type="text" name="title" id="title" ng-model="model.title" placeholder="Title"/></div>
        <div class="6u 12u$(mobile)">
            <textarea name="description" id="description" ng-model="model.description" placeholder="Description"></textarea>
        </div>
        <div class="6u 12u$(mobile)">
            <textarea name="tags" id="tags" ng-model="model.tags" placeholder="Tags"></textarea>
        </div>
        <div class="6u 12u$(mobile)"><input type="password" ng-model="model.password" name="password" value="" placeholder="password"/></div>
        <div class="12u$">
            <input type="submit" value="submit" />
        </div>
    </form>
</div>